<style>
body{
   background:url("http://img.hb.aicdn.com/92073ca6a5639770d55a06f0069b26d03344e8fea7338-CqBp1S_fw658")  no-repeat center center;
   background-size:cover;
   background-attachment:fixed;
   background-color:#CCCCCC;
}
</style>
